.b-rojo {
	background-color: #D9534F !important;
}

.b-azul-cielo {
	background-color: #76A9DA !important;
}

.b-cielo-oscuro {
	background-color: #46B8DA !important;
}

.b-azul-marino {
	background-color:  #0071BD !important;
}

.b-purpura {
	background-color: #9E66C6 !important;
}

.b-turquesa {
	background-color: #00A99D !important;
}

.b-verde {
	background-color: #A1BC31 !important;
}

.b-verde2 {
	background-color: #70A63B !important;
}

.b-verde3 {
	background-color: #009244 !important;
}

.b-naranja {
	background-color: #F7931E !important;
}

.b-naranja-oscuro {
	background-color: #993E00 !important;
}

.b-amarillo {
	background-color: #FEDC43 !important;
}

.b-azul {
	background-color: #0071BD !important;
}

.b-fucsia {
	background-color: #A83F82 !important;
}

.b-violeta {
	background-color: #5A13B7 !important;
}

.b-gris {
	background-color: #4D4D4D !important;
}

.b-gris2 {
	background-color: #C0C0C0 !important;
}

.b-gris3 {
	background-color: #DCDCDC !important;
}

.b-gris4 {
	background-color: #F2F2F2 !important;
}

.b-cielo {
	background-color: #2AABE4 !important;
}

.b-gris {
	background-color: #444242 !important;
}

.b-dorado {
	background-color: #C3B129 !important;
}

.b-dorado-oscuro {
	background-color: #8E7319 !important;
}

.b-blanco {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.b-transparente {	
	background-color: rgba(255, 255, 255, 0) !important;
}

.borde-amarillo {
	border-color: #DFF58A !important;
}

.borde-anaranjado {
	border-color: #f0ad4e !important;
}

.borde-verde {
	border-color: #5CB85C !important;
}

.borde-rojo {
	border-color: #D9534F !important;
}

.borde-azul {
	border-color: #337AB7 !important;
}