/*Boton solo con texto*/
.boton-txt-16{
    height: 24px;
    font-size:16px !important;
}

/*Boton con texto e imagen*/
.boton-imgtxt-16{
    height: 24px;
    cursor:pointer !important;
    padding: 0px 5px 0px 27px !important;       
    background-position: 4px 1px !important;
    background-repeat: no-repeat !important;
    background-size: 20px 20px !important;
    font-size:16px !important;
}

/*Boton solo con imagen*/
.boton-img-16{
    height: 24px;
    width: 26px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 16px 16px !important;
}
