/*Boton solo con texto*/
.boton-txt-32{
    height: 40px;
    font-size:27px !important;
}

/*Boton con texto e imagen*/
.boton-imgtxt-32{
    height: 40px;
    cursor:pointer !important;
    padding: 0px 5px 0px 41px !important;
    float: left;  
    background-position: 5px 3px !important;
    background-repeat: no-repeat !important;
    background-size: 32px 32px !important;
    font-size:20px !important;
}

/*Boton solo con imagen*/
.boton-img-32{
    height: 40px;
    width: 42px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 25px 25px !important;
}

/*Boton solo con texto y con fondo*/
.boton-txtbg-32{
    height: 40px;
    font-size:20px !important;
    font: futuraCondensed !important;
}
